<!-- app/assets/templates/movies/info.jst.ejs -->
<div id="info-<%= movie.escape("id") %>" class="infobar">
  <div class="closeMe" data-id=<%= movie.escape("id")%>>
    <img src="assets/arrow.png">
  </div>
  <div class="trailer">
    <iframe width="560" height="315" src="<%=movie.escape("trailer")%>"" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="movieDetails">
    <ul>
      <li>
        <h2>
          <%= movie.escape("title") %>
          <small>
            (<%= movie.escape("year") %>)
          </small>
        </h2>
      </li>
      <li>
        <h3>
          Runtime:
          <%= movie.escape("runtime") %>
        </h3>
      </li>
      <li>
        <h3>
          Audience Score:
          <%= movie.escape("audience_score") %>
        </h3>
      </li>
      <li>
        <h3>
          Critics Score:
          <%= movie.escape("critics_score") %>
        </h3>
      </li>
      <li>
        <h4>
          Critic's Consensus:
          <%= movie.escape("critics_consensus") %>
        </h4>
      </li>
    </ul>
  </div>
</div>