<!-- app/assets/templates/movies/info.jst.ejs -->
<div id="info-<%= movie.escape("id") %>" class="infobar">
  <div class="closeMe" data-id=<%= movie.escape("id")%>>
    <img src="assets/arrow.png">
  </div>
  <div class="trailer">
    <iframe width="560" height="315" src="<%=movie.escape("trailer")%>"" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="movieDetails">
    <ul>
      <li>
        <h3>
          <span class="details"><%= movie.escape("title") %>
            <small>
              <span class="details">(<%= movie.escape("year") %>)</span>
            </small>
          </span>
        </h3>
      </li>
      <li>
        <h4>
          Cast:
          <span class="details"><%= movie.escape("cast") %></span> 
        </h4>
      </li>
      <li>
        <h4>
          Runtime:
          <span class="details"><%= movie.escape("runtime") %> minutes</span> 
        </h4>
      </li>
      <li>
        <h4>
          Audience Score:
          <span class="details"><%= movie.escape("audience_score") %></span> 
        </h4>
      </li>
      <li>
        <h4>
          Critics Score:
          <span class="details"><%= movie.escape("critics_score") %></span> 
        </h4>
      </li>
      <li>
        <h4>
          Critic's Consensus:
          <span class="details"><%= movie.escape("critics_consensus") %></span> 
        </h4>
      </li>
      <li>
        <h4>
          Location:
          <span class="details"><%= movie.escape("location") %></span> 
        </h4>
      </li>
    </ul>
  </div>
</div>